@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-Thin.ttf');
    font-weight: 100;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-ExtraLight.ttf');
    font-weight: 200;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }

  @font-face {
    font-family: "BlackMango";
    src: url('font/BlackMango-Black.ttf') format('truetype');
    font-weight: 900;
  }

  @keyframes hover {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.glow {
    /* color: #646cff; */
    text-shadow: 0 0 8px #c4c4c4;
}

.animation-delay-50 {
  animation-delay: 50ms;
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-150 {
  animation-delay: 150ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-250 {
  animation-delay: 250ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-350 {
  animation-delay: 350ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-450 {
  animation-delay: 450ms;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-550 {
  animation-delay: 550ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

.animation-delay-650 {
  animation-delay: 650ms;
}

.animation-delay-700 {
  animation-delay: 700ms;
}

.animation-delay-750 {
  animation-delay: 750ms;
}

.animation-delay-800 {
  animation-delay: 800ms;
}

.animation-delay-850 {
  animation-delay: 850ms;
}

.animation-delay-900 {
  animation-delay: 900ms;
}

.animation-delay-950 {
  animation-delay: 950ms;
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}

.animation-delay-1500 {
  animation-delay: 1500ms;
}
